#form {
    
    border-width: 10px;
    border-radius: 10px;
    background-color: rgb(6 103 180 / 61%);
    text-align: center;
    width: 30%;
}
#title {
    color: rgb(23 75 75);
    font-style: normal;
    font-family: ui-sans-serif;
    font-weight: 900;

}

#title-des{
    color: rgb(51, 110, 76);
    font-family: cursive;
    font-weight: 500;
    font-size: 20px;
}

/* #sg{
    height: 100px;
    width: 200px;
    color: #54047b;
    font-size: medium;
    font-style: inherit;
    border-style: hidden;
    border-radius: 20px;
    background: #2382e0;
} */
/* #sg:hover{
    color: aliceblue;
} */

.image {
    width: 200px;
    height: 200px;
    overflow:visible;
    margin: 0 auto;
}
  
.image img {
    width: 100%;
    transition: 0.2s all ease-in-out;
}
  
.image:hover img {
    transform: scale(1.2);
}

.buttn{
    
    height: 50px;
    width: 100px;
    background-color: #0b7cec;
    border-radius: 30px;
    border-style: hidden;
    color: aliceblue;
    font-weight: 500;
    font-size: 17px;
    font-family: system-ui
}
.buttn{
    transition-duration: 0.1s;
}
.buttn:hover{
    background-color: #3696f7;
}
#labl{
    color:rgb(21, 0, 89);
    font-size: large;
    font-weight: 200;
    font-family: serif ;
}


#heading{
    text-align: center;
    font-size: 45px;
    color: rgb(23 75 75);
    font-style: normal;
    font-family: ui-sans-serif;
    font-weight: 900;

}
.box{
    align-items: center;
    height: 450px;
    width: 900px;
    align-items: center;
    /* color: aquamarine; */
    background-color: rgba(79, 163, 135, 0.593);
    border-radius: 40px;
    z-index: 1;
}

.input{
    position: absolute;
        z-index: 2;
        top: 350px;
        left: 680px;
        font-size: 17px;
        color: #e61818;
        
}
.boxsub{
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 740px;
    height: 50px;
    width: 100px;
    background-color: #0b7cec;
    border-radius: 30px;
    border-style: hidden;
    color: aliceblue;
    font-weight: 500;
    font-size: 17px;
    font-family: system-ui
}

#prediction-text{
    position:absolute;
    top: 450px;
    left: 450px;
    color:rgb(10, 10, 10);
    font-weight: 700;
    font-size: 25px;


}